
<div class="container">
  <bs-navbar></bs-navbar>
  <router-outlet></router-outlet>
</div>

<ng-container *ngIf="sorting as sorting">
	<h2>{{ sorting.house | uppercase }}</h2>
</ng-container>
<button (click)="getHouse()">Get House!</button>



